.levitate-box  {
  position: fixed;
  top: 50px;
  right: 10px;
  z-index: 1000;
}


button.MuiButtonBase-root {
  background-image: none;
}

.edit-modal-box {
  position: fixed;
  width: 80%;
  left: 0px;
  right: 0px;
  margin: auto;
  padding: 20px;
  top: 120px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 5px 8px 0px rgba(0,0,0,0.14), 0px 1px 14px 0px rgba(0,0,0,0.12);

  h2 {
    font-size: 20px;
    margin-bottom: 20px;
    display: block;
    color: #f40057;
  }
}


.info-content-box {
  text-align: right;
  span {
    padding-right: 20px;
  }
}
